apiVersion: v1
kind: ConfigMap
metadata:
  name: agencyservice-config
  namespace: caritas
data:
  # Database Configuration - Use DNS names, NOT IPs
  SPRING_DATASOURCE_URL: "jdbc:mariadb://mariadb.caritas.svc.cluster.local:3306/agencyservice"
  
  # Keycloak Configuration - Use DNS names
  KEYCLOAK_AUTH_SERVER_URL: "http://keycloak.caritas.svc.cluster.local:8080"
  KEYCLOAK_REALM: "online-beratung"
  SPRING_SECURITY_OAUTH2_RESOURCESERVER_JWT_ISSUER_URI: "http://keycloak.caritas.svc.cluster.local:8080/realms/online-beratung"
  SPRING_SECURITY_OAUTH2_RESOURCESERVER_JWT_JWK_SET_URI: "http://keycloak.caritas.svc.cluster.local:8080/realms/online-beratung/protocol/openid-connect/certs"
  
  # MongoDB Configuration - Use DNS names
  SPRING_DATA_MONGODB_URI: "mongodb://mongodb.caritas.svc.cluster.local:27017/agencyservice"
  
  # Matrix Configuration - Use DNS names
  MATRIX_API_URL: "http://matrix-synapse.caritas.svc.cluster.local:8008"
  MATRIX_SERVER_NAME: "caritas.local"
  
  # Service URLs - Use DNS names
  CONSULTING_TYPE_SERVICE_API_URL: "http://consultingtypeservice.caritas.svc.cluster.local:8083"
  TENANT_SERVICE_API_URL: "http://tenantservice.caritas.svc.cluster.local:8081"
  USER_ADMIN_SERVICE_API_URL: "http://userservice.caritas.svc.cluster.local:8082"
  LIVE_SERVICE_API_URL: ""
  APPOINTMENT_SERVICE_API_URL: ""
  
  # Rocket.Chat Configuration - Use DNS names
  ROCKET_CHAT_BASE_URL: "http://rocketchat.caritas.svc.cluster.local:3000/api/v1"
  ROCKET_CHAT_MONGO_URL: "mongodb://mongodb.caritas.svc.cluster.local:27017/rocketchat?retryWrites=false"

