apiVersion: v1
kind: ConfigMap
metadata:
  name: tenantservice-config
  namespace: caritas
data:
  # Database Configuration - Use DNS names, NOT IPs
  SPRING_DATASOURCE_URL: "jdbc:mariadb://mariadb.caritas.svc.cluster.local:3306/tenantservice"
  
  # Keycloak Configuration - Use DNS names
  KEYCLOAK_AUTH_SERVER_URL: "http://keycloak.caritas.svc.cluster.local:8080"
  KEYCLOAK_REALM: "online-beratung"
  SPRING_SECURITY_OAUTH2_RESOURCESERVER_JWT_ISSUER_URI: "http://keycloak.caritas.svc.cluster.local:8080/realms/online-beratung"
  SPRING_SECURITY_OAUTH2_RESOURCESERVER_JWT_JWK_SET_URI: "http://keycloak.caritas.svc.cluster.local:8080/realms/online-beratung/protocol/openid-connect/certs"
  
  # Service URLs - Use DNS names
  CONSULTING_TYPE_SERVICE_API_URL: "http://consultingtypeservice.caritas.svc.cluster.local:8083"
  USER_SERVICE_API_URL: "http://userservice.caritas.svc.cluster.local:8082"

